# Node.js dependencies
node_modules/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Runtime data
*.log
*.pid
*.seed
*.pid.lock

# Vite-specific
dist/
.vite/

# IDE and Editor Settings
.idea/
.vscode/
*.swp
*~

# Operating System Files
.DS_Store
Thumbs.db

# Environment Files
.env
.env.local
.env.*.local

# Build Output
build/
