.flex-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

@media (max-width: 900px) {
    .flex-container {
        flex-direction: column;
    }
    .team-member {
        text-align: center;
        margin: 20px 0;
        font-weight: bold;
        color: rgb(1, 39, 164);
    }

    .member-image {
        width: 100px;
        height: 100px;
      }
}
 .member-image{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
 }


.team-member { text-align: center; font-weight: 600; color: #fff; }
  .team-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
  }

 
/*.team-image:hover {
    transform: scale(1.1);
    /*transition: transform 0.3s ease-in-out;
}
.team-image:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: brightness(1.1);
}
*/
.about-us { padding: 20px; text-align: center; font-weight: bold; }