/* Margins and paddings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  min-height: 100vh;
  background-color: #f0f0f0; /* Fallback background */
  transition: background-color 0.3s;
}
@tailwind base;
@tailwind components;
@tailwind utilities;